.cocktail-image{
    // width: 400px;
    height: 450px;
    // box-sizing: border-box;
    border: 3px solid rgb(202,164,98);
    overflow: hidden;
}

.title{
    color: rgb(202,164,98);
}

.instructions{
    color: white;
}

.line{
    height: 2px;
    background-color:rgb(202,164,98);;
}